<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="gestor-asignaciones">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link href="https://cdn.datos.gob.mx/assets/css/main.css" rel="stylesheet"> -->

    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container-fluid">

      <blockquote class="blockquote text-center text-white mt-2">
        <p class="mb-0">ASIGNACIONES</p>
      </blockquote>

      <div class="row">

        <div class="col-sm-auto">
          <div class="btn-group-vertical">
            <button on-click="obtenerAsignaciones" type="button" class="btn btn-outline-light btn-lg btn-block">Consultar Todo</button>
            <button on-click="insertarAsignaciones" type="button" class="btn btn-outline-light btn-lg btn-block">Nuevo</button>
            <button on-click="modificar" type="button" class="btn btn-outline-light btn-lg btn-block">Modificar</button>
            <button on-click="eliminar"  type="button" class="btn btn-outline-light btn-lg btn-block">Eliminar</button>
          </div>
        </div>

        <div class="col">

          <div class="col mx-auto" hidden$="{{!l}}">
            <div class="card-body p-3 mb-2 bg-light">
              <!-- <p class="mb-0">LISTA DE Asignaciones</p>
            </div> -->
              <h4 class="text-center">
                <span></span> LISTA DE ASIGNACION
              </h4>
              <table class="table table-bordered table-sm table-hover mt-2">
                <!-- <caption class="text-white table-sm">Lista de Asignaciones</caption> -->
                <thead>
                  <tr class="bg-info text-white">
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Usuario</th>
                    <th scope="col">Contrato</th>
                    <th scope="col">Contact Center</th>
                    <th scope="col">Familia</th>
                    <th scope="col">Mora</th>
                    <th scope="col">Producto</th>
                  </tr>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{asignaciones}}">
                    <tr class="table-secondary">
                      <td>[[item.idAsesor]]</td>
                      <td>[[item.contrato]]</td>
                      <td>[[item.contactCenter]]</td>
                      <td>[[item.familia]]</td>
                      <td>[[item.mora]]</td>
                      <td>[[item.producto]]</td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-sm-6 mx-auto" hidden$="{{!n}}">
            <div class="card-body p-3 mb-2 bg-light">
              <h4 class="text-center">
                <span></span> NUEVO
              </h4>
              <div class="form-group p-3 mb-2 text-left">
                Contrato: <input type="text" value="{{contrato::input}}" placeholder="000#" class="form-control">
                <div class="row">
                  <div class="col">Usuario: <input type="text" value="{{usuario::input}}" class="form-control"></div>
                  <div class="col">Mora: <input type="text" value="{{mora::input}}" class="form-control"></div>
                  <div class="col">
                    <span>Contact Center:</span>
                    <select class="form-control"value="{{contactCenter::input}}">
                      <option value="Atento">Atento</option>
                      <option value="Munoz">Muñoz</option>
                      <option value="SmartCenter">SmartCenter</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <span>Familia:</span>
                    <select class="form-control"value="{{familia::input}}">
                      <option value="MC">Mono Contrato</option>
                      <option value="MO">Mono Familia</option>
                      <option value="MU">Multi Familia</option>
                    </select>
                  </div>
                  <div class="col">
                    <span>Producto:</span>
                    <select class="form-control" value="{{producto::input}}">
                      <option value="TdC">TdC</option>
                      <option value="Consumo">Consumo</option>
                      <option value="Consumer">Consumer</option>
                      <option value="Auto">Auto</option>
                      <option value="Hipoteca">Hipoteca</option>
                    </select>
                  </div>
                </div>
              </div>
              <button on-click="insertarNuevo" class="btn btn-success" data-placement="right">Guardar</button>
            </div>
          </div>

          <div class="col-sm-6 mx-auto" hidden$="{{!m}}">
            <div class="card-body p-3 mb-2 bg-light">
              <h4 class="text-center">
                <span></span> MODIFICAR
              </h4>
              <div class="form-group p-3 mb-2 text-left">
                <p>Contrato: <input type="text" value="{{contrato::input}}" placeholder="000#" class="form-control"></p>
                <button on-click="buscar" class="btn btn-info">Buscar</button>
              </div>
              <div class="form-group p-3 mb-2 text-left">
                <template is="dom-repeat" items="{{asignacion}}">
                  <p>
                    <div class="row">
                      <div class="col">Usuario: <input type="text" value="{{usuario::input}}" placeholder="[[item.idAsesor]]" class="form-control"></div>
                      <div class="col">Mora: <input type="text" value="{{mora::input}}" placeholder="[[item.mora]]" class="form-control"></div>
                      <div class="col">
                        <span>Contact Center:</span>
                        <select class="form-control"value="{{contactCenter::input}}">
                          <option selected="[[item.contactCenter]]">[[item.contactCenter]]</option>
                          <option value="Atento">Atento</option>
                          <option value="Munoz">Muñoz</option>
                          <option value="SmartCenter">SmartCenter</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <span>Familia:</span>
                        <select class="form-control"value="{{familia::input}}">
                          <option selected="[[item.familia]]">[[item.familia]]</option>
                          <option value="MC">Mono Contrato</option>
                          <option value="MO">Mono Familia</option>
                          <option value="MU">Multi Familia</option>
                        </select>
                      </div>
                      <div class="col">
                        <span>Producto:</span>
                        <select class="form-control" value="{{producto::input}}">
                          <option selected="[[item.producto]]">[[item.producto]]</option>
                          <option value="TdC">TdC</option>
                          <option value="Consumo">Consumo</option>
                          <option value="Consumer">Consumer</option>
                          <option value="Auto">Auto</option>
                          <option value="Hipoteca">Hipoteca</option>
                        </select>
                      </div>
                    </div>
                  </p>
                  <button on-click="alerta" class="btn btn-success" data-placement="right" >Guardar</button>
                  <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" hidden$="{{!a}}"> -->
                  <div class="alert alert-primary" role="alert" hidden$="{{!a}}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" aria-labelledby="myModalLabel">Modificar</h4>
                        </div>
                        <div class="modal-body">
                          <p>¿Estas seguro que quieres modificar el registro?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" on-click="cancelar">Cancelar</button>
                          <button type="button" class="btn btn-primary" on-click="modificarAsignaciones">Aceptar</button>
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->
                </template>
              </div>
            </div>
          </div>

          <div class="col-sm-6 mx-auto" hidden$="{{!e}}">
            <div class="card-body p-3 mb-2 bg-light">
              <h4 class="text-center">
                <span></span> ELIMINAR
              </h4>
              <div class="form-group p-3 mb-2 text-left">
                <p>Contrato: <input type="text" value="{{contrato::input}}" placeholder="000#" class="form-control"></p>
                <button on-click="buscar" class="btn btn-info">Buscar</button>
              </div>
              <div class="form-group p-3 mb-2 text-left">
                <template is="dom-repeat" items="{{asignacion}}" >
                 <p>
                  <div class="row">
                    <div class="col">Usuario: <input type="text" value="[[item.idAsesor]]" class="form-control" disabled></div>
                    <div class="col">Mora: <input type="text" value="[[item.mora]]" class="form-control" disabled></div>
                    <div class="col">Contact Center: <input type="text" value="[[item.contactCenter]]" class="form-control" disabled></div>
                  </div>
                  <div class="row">
                    <div class="col">Familia: <input type="text" value="[[item.familia]]" class="form-control" disabled></div>
                    <div class="col">Producto: <input type="text" value="[[item.producto]]" class="form-control" disabled></div>
                  </div>
                  </p>
                  <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" on-click="alerta">Eliminar</button> -->
                  <button on-click="alerta" class="btn btn-success" data-placement="right" >Eliminar</button>
                  <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" hidden$="{{!a}}"> -->
                  <div class="alert alert-primary" role="alert" hidden$="{{!a}}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" aria-labelledby="myModalLabel">Eliminar</h4>
                        </div>
                        <div class="modal-body">
                          <p>¿Estas seguro que quieres eliminar el registro?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" on-click="cancelar">Cancelar</button>
                          <button type="button" class="btn btn-primary" on-click="eliminarAsignaciones">Aceptar</button>
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->
                </template>
              </div>
            </div>
          </div>

        </div>
        <!--/div-->
      </div>

    </div>

    <iron-ajax
      id="doObtenerA"
      url="http://localhost:3002/Asignaciones"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="GET"
      handle-as="json"
      headers="Access-Control-Allow_Headers: *"
      on-response="manageAJAXResponseA"
      on-error="showErrorA">
    </iron-ajax>

    <iron-ajax
      id="doInsertarA"
      url="http://localhost:3002/Asignaciones"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow_Headers: *"
      on-response="manageAJAXResponseIA"
      on-error="showErrorIA">
    </iron-ajax>

    <iron-ajax
      id="doModificarA"
      url="http://localhost:3002/ModAsignaciones"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow_Headers: *"
      on-response="manageAJAXResponseMA"
      on-error="showErrorMA">
    </iron-ajax>

    <iron-ajax
      id="doEliminarA"
      url="http://localhost:3002/DelAsignaciones"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow_Headers: *"
      on-response="manageAJAXResponseEA"
      on-error="showErrorEA">
    </iron-ajax>

    <iron-ajax
      id="doBuscarA"
      url="http://localhost:3002/BuscarAsignaciones"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow_Headers: *"
      on-response="manageAJAXResponseBA"
      on-error="showErrorBA">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class GestorAsignaciones extends Polymer.Element {
      static get is() { return 'gestor-asignaciones'; }
      static get properties() {
        return {
          asignaciones: {
            type: Array,
            notify: true
          },
          asignacion: {
            type: Array,
            notify: true
          },
          usuario: {
            type: String
          },
          contrato: {
            type: String
          },
          contactCenter: {
            type: String
          },
          familia: {
            type: String
          },
          mora: {
            type: String
          },
          producto: {
            type: String
          },
          l:{
            type: Boolean,
            value: false
          },
          n:{
            type: Boolean,
            value: false
          },
          m:{
            type: Boolean,
            value: false
          },
          e:{
            type: Boolean,
            value: false
          },
          a:{
            type: Boolean,
            value: false
          }
        }
      }

      obtenerAsignaciones(){
        this.$.doObtenerA.generateRequest();
        console.log('Peticion enviada');
        this.l = true;
        this.n = false;
        this.m = false;
        this.e = false;
      }

      insertarAsignaciones(){
        this.l = false;
        this.n = true;
        this.m = false;
        this.e = false;
        this.a = false;
        this.usuario = null;
        this.contrato = null;
        this.contactCenter = null;
        this.familia = null;
        this.mora = null;
        this.producto = null;
        this.asignacion = null;
      }

      insertarNuevo(){
        var nuevoData = {"idAsesor": this.usuario, "contrato":this.contrato, "contactCenter":this.contactCenter, "familia":this.familia, "mora":this.mora, "producto":this.producto};
        //var nuevoData = {"idCliente": "UserPrueba"}
        this.$.doInsertarA.body = JSON.stringify(nuevoData);
        this.$.doInsertarA.generateRequest();
        console.log('Peticion enviada');
      }

      modificar(){
        this.l = false;
        this.n = false;
        this.m = true;
        this.e = false;
        this.a = false;
        this.usuario = null;
        this.contrato = null;
        this.contactCenter = null;
        this.familia = null;
        this.mora = null;
        this.producto = null;
        this.asignacion = null;
      }

      alerta(){
        this.a = true;
      }

      cancelar(){
        this.a = false;
      }

      modificarAsignaciones(){
        // alert('Esta seguro de modificar el registro?');

        if (this.usuario != null) {
          this.set('asignacion.0.idAsesor', this.usuario);
        }
        if (this.contactCenter != null) {
          this.set('asignacion.0.contactCenter', this.contactCenter);
        }
        if (this.familia != null) {
          this.set('asignacion.0.familia', this.familia);
        }
        if (this.mora  != null) {
          this.set('asignacion.0.mora', this.mora);
        }
        if (this.producto != null) {
          this.set('asignacion.0.producto', this.producto);
        }
        var modData = {"contrato": this.contrato, "idAsesor":this.get('asignacion.0.idAsesor'), "contactCenter":this.get('asignacion.0.contactCenter'), "familia":this.get('asignacion.0.familia'), "mora":this.get('asignacion.0.mora'), "producto":this.get('asignacion.0.producto')};
        this.$.doModificarA.body = JSON.stringify(modData);
        this.$.doModificarA.generateRequest();
        console.log('Peticion enviada');
        //console.log(modData);
      }

      buscar(){
        var busData = {"contrato": this.contrato};
        //var modData = {"idCliente": "UserPrueba"}
        this.$.doBuscarA.body = JSON.stringify(busData);
        this.$.doBuscarA.generateRequest();
        console.log('Peticion enviada');
      }

      eliminar(){
        this.l = false;
        this.n = false;
        this.m = false;
        this.e = true;
        this.a = false;
        this.usuario = null;
        this.contrato = null;
        this.contactCenter = null;
        this.familia = null;
        this.mora = null;
        this.producto = null;
        this.asignacion = null;
      }

      eliminarAsignaciones(){
        // alert('Esta seguro de eliminar el registro?');
        var eliData = {"id":this.get('asignacion.0._id.$oid'), "contrato": this.contrato};
        this.$.doEliminarA.body = JSON.stringify(eliData);
        this.$.doEliminarA.generateRequest();
        console.log('Peticion enviada');
      }

      manageAJAXResponseA(data){
        console.log('Respuesta recibida del servidor');
        this.asignaciones = (data.detail.response);
        console.table(this.asignaciones);
      }

      manageAJAXResponseIA(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
        alert('Usuario registrado con exito !');
        this.usuario = null;
        this.contrato = null;
        this.contactCenter = null;
        this.familia = null;
        this.mora = null;
        this.producto = null;
      }

      manageAJAXResponseMA(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
        alert('Usuario modificado con exito !');
        this.usuario = null;
        this.contrato = null;
        this.contactCenter = null;
        this.familia = null;
        this.mora = null;
        this.producto = null;
        this.asignacion = null;
      }

      manageAJAXResponseEA(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
        alert('Usuario eliminado con exito !');
        this.usuario = null;
        this.contrato = null;
        this.contactCenter = null;
        this.familia = null;
        this.mora = null;
        this.producto = null;
        this.asignacion = null;
      }

      manageAJAXResponseBA(data){
        console.log('Respuesta recibida del servidor');
        this.asignacion = (data.detail.response);
        console.table(this.asignacion);
        // this.oid = asesor._id.$oid;
        // console.log(oid);
      }

      showErrorA(error){
        console.log('Hubo un error');
        //console.log(`Hubo un error ${error}`);
        alert('No hay datos !');
        console.log(error);
      }

      showErrorIA(error){
        console.log('Hubo un error');
        alert('Asignacion existente, Registre otra asignación!');
        console.log(error);
      }

      showErrorMA(error){
        console.log('Hubo un error');
        alert('Problemas al actualizar, intente nuevamente !');
        console.log(error);
      }

      showErrorEA(error){
        console.log('Hubo un error');
        alert('Problemas al eliminar, intente nuevamente !');
        console.log(error);
      }

      showErrorBA(error){
        console.log('Hubo un error');
        alert('No hay datos !');
        console.log(error);
      }

    }

    window.customElements.define(GestorAsignaciones.is, GestorAsignaciones);
  </script>
</dom-module>
