<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="gestor-asesores">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link href="https://cdn.datos.gob.mx/assets/css/main.css" rel="stylesheet"> -->

    <style>
      :host {
        /*font-family: sans-serif;*/
        display: block;
        /*overflow: hidden;*/
      }
    </style>

    <div class="container-fluid">

      <blockquote class="blockquote text-center text-white mt-2">
        <p class="mb-0">ASESORES</p>
      </blockquote>

      <div class="row">

        <div class="col-sm-auto">
          <div class="btn-group-vertical">
            <button on-click="obtenerAsesores" type="button" class="btn btn-outline-light btn-lg btn-block">Consultar Todo</button>
            <button on-click="insertarAsesores" type="button" class="btn btn-outline-light btn-lg btn-block">Nuevo</button>
            <button on-click="modificar" type="button" class="btn btn-outline-light btn-lg btn-block">Modificar</button>
            <button on-click="eliminar"  type="button" class="btn btn-outline-light btn-lg btn-block">Eliminar</button>
          </div>
        </div>

        <div class="col">

          <div class="col mx-auto" hidden$="{{!l}}">
            <div class="card-body p-3 mb-2 bg-light">
              <!-- <p class="mb-0">LISTA DE ASESORES</p>
            </div> -->
              <h4 class="text-center">
                <span></span> LISTA DE ASESORES
              </h4>
              <table class="table table-bordered table-sm table-hover mt-2">
                <!-- <caption class="text-white table-sm">Lista de asesores</caption> -->
                <thead>
                  <tr class="bg-info text-white">
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Usuario</th>
                    <th scope="col">Nombre(s)</th>
                    <th scope="col">Apellido_Paterno</th>
                    <th scope="col">Apellido_Materno</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Canal</th>
                    <th scope="col">Estatus</th>
                  </tr>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{asesores}}">
                    <tr class="table-secondary">
                      <!-- <td>[[item._id]]</td> -->
                      <td>[[item.idAsesor]]</td>
                      <td>[[item.nombre]]</td>
                      <td>[[item.apellido]]</td>
                      <td>[[item.apellidoM]]</td>
                      <td>[[item.tel]]</td>
                      <td>[[item.canal]]</td>
                      <td>[[item.status]]</td>
                        <!-- <th scope="col">#</th> -->
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-sm-6 mx-auto" hidden$="{{!n}}">
            <div class="card-body p-3 mb-2 bg-light">
              <h4 class="text-center">
                <span></span> NUEVO
              </h4>
              <div class="form-group p-3 mb-2 text-left">
                Usuario: <input type="text" value="{{usuario::input}}" placeholder="User#" class="form-control">
                <div class="row">
                  <div class="col"> Nombre(s): <input type="text" value="{{nombre::input}}" class="form-control"></div>
                  <div class="col">Apellido Parterno: <input type="text" value="{{apellido::input}}" class="form-control"></div>
                  <div class="col">Apellido Materno: <input type="text" value="{{apellidoM::input}}" class="form-control"></div>
                </div>
                <div class="row">
                  <div class="col">Teléfono: <input type="text" value="{{tel::input}}" class="form-control"></div>
                  <div class="col">
                    <span>Canal:</span>
                    <select class="form-control"value="{{canal::input}}">
                      <option value="PACHUCA">PACHUCA</option>
                      <option value="INTERPLAZA">INTERPLAZA</option>
                      <option value="METEPEC">METEPEC</option>
                      <option value="TOLUCA">TOLUCA</option>
                      <option value="HIPOTECA">HIPOTECA</option>
                      <option value="PERINORTE">PERINORTE</option>
                    </select>
                  </div>
                  <div class="col">
                    <span >Estatus:</span>
                    <select class="form-control" value="{{status::input}}">
                      <option value="Activo">Activo</option>
                      <option value="Inactivo">Inactivo</option>
                    </select>
                  </div>
                </div>
              </div>
              <button on-click="insertarNuevo" class="btn btn-success" data-placement="right">Guardar</button>
            </div>
          </div>

          <div class="col-sm-6 mx-auto" hidden$="{{!m}}">
            <div class="card-body p-3 mb-2 bg-light">
              <h4 class="text-center">
                <span></span> MODIFICAR
              </h4>
              <div class="form-group p-3 mb-2 text-left">
                <p>Usuario: <input type="text" value="{{usuario::input}}" placeholder="User#" class="form-control"></p>
                <button on-click="buscar" class="btn btn-info">Buscar</button>
              </div>
              <div class="form-group p-3 mb-2 text-left">
                <template is="dom-repeat" items="{{asesor}}">
                  <p>
                    <div class="row">
                      <div class="col">Nombre(s): <input type="text" value="{{nombre::input}}" placeholder="[[item.nombre]]" class="form-control"></div>
                      <div class="col">Apellido Parterno: <input type="text" value="{{apellido::input}}" placeholder="[[item.apellido]]" class="form-control"></div>
                      <div class="col">Apellido Materno: <input type="text" value="{{apellidoM::input}}" placeholder="[[item.apellidoM]]" class="form-control"></div>
                    </div>
                    <div class="row">
                      <div class="col">Teléfono: <input type="text" value="{{tel::input}}" placeholder="[[item.tel]]" class="form-control"></div>
                      <div class="col">
                        <span>Canal:</span>
                        <select class="form-control" value="{{canal::input}}">
                          <option selected="[[item.canal]]">[[item.canal]]</option>
                          <option value="PACHUCA">PACHUCA</option>
                          <option value="INTERPLAZA">INTERPLAZA</option>
                          <option value="METEPEC">METEPEC</option>
                          <option value="TOLUCA">TOLUCA</option>
                          <option value="HIPOTECA">HIPOTECA</option>
                          <option value="PERINORTE">PERINORTE</option>
                        </select>
                      </div>
                      <div class="col">
                        <span>Estatus:</span>
                        <select class="form-control" value="{{status::input}}" >
                          <option selected="{{item.status}}">{{item.status}}</option>
                          <option value="Activo">Activo</option>
                          <option value="Inactivo">Inactivo</option>
                        </select>
                     </div>
                    </div>
                  </p>
                  <button on-click="alerta" class="btn btn-success" data-placement="right" >Guardar</button>
                  <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" hidden$="{{!a}}"> -->
                  <div class="alert alert-primary" role="alert" hidden$="{{!a}}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" aria-labelledby="myModalLabel">Modificar</h4>
                        </div>
                        <div class="modal-body">
                          <p>¿Estas seguro que quieres modificar el registro?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" on-click="cancelar">Cancelar</button>
                          <button type="button" class="btn btn-primary" on-click="modificarAsesores">Aceptar</button>
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->
                </template>
              </div>
            </div>
          </div>

          <div class="col-sm-6 mx-auto" hidden$="{{!e}}">
            <div class="card-body p-3 mb-2 bg-light">
              <h4 class="text-center">
                <span></span> ELIMINAR
              </h4>
              <div class="form-group p-3 mb-2 text-left">
                <p>Usuario: <input type="text" value="{{usuario::input}}" placeholder="User#" class="form-control"></p>
                <button on-click="buscar" class="btn btn-info">Buscar</button>
              </div>
              <div class="form-group p-3 mb-2 text-left">
                <template is="dom-repeat" items="{{asesor}}" >
                 <p>
                  <div class="row">
                    <div class="col">Nombre(s): <input type="text" value="[[item.nombre]]" class="form-control" disabled></div>
                    <div class="col">Apellido Parterno: <input type="text" value="[[item.apellido]]" class="form-control" disabled></div>
                    <div class="col">Apellido Materno: <input type="text" value="[[item.apellidoM]]" class="form-control" disabled></div>
                  </div>
                  <div class="row">
                    <div class="col">Teléfono: <input type="text" value="[[item.tel]]" class="form-control" disabled></div>
                    <div class="col">Canal: <input type="text" value="[[item.canal]]" class="form-control" disabled></div>
                    <div class="col">Estatus: <input type="text" value="[[item.status]]" class="form-control" disabled></div>
                  </div>
                  </p>
                  <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" on-click="alerta">Eliminar</button> -->
                  <button on-click="alerta" class="btn btn-success" data-placement="right" >Eliminar</button>
                  <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" hidden$="{{!a}}"> -->
                  <div class="alert alert-primary" role="alert" hidden$="{{!a}}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" aria-labelledby="myModalLabel">Eliminar</h4>
                        </div>
                        <div class="modal-body">
                          <p>¿Estas seguro que quieres eliminar el registro?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" on-click="cancelar">Cancelar</button>
                          <button type="button" class="btn btn-primary" on-click="eliminarAsesores">Aceptar</button>
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->
                </template>
              </div>
            </div>
          </div>

        </div>
        <!--/div-->
      </div>

    </div>

    <iron-ajax
      id="doObtener"
      url="http://localhost:3002/Asesores"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="GET"
      handle-as="json"
      headers="Access-Control-Allow_Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

    <iron-ajax
      id="doInsertar"
      url="http://localhost:3002/Asesores"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow_Headers: *"
      on-response="manageAJAXResponseI"
      on-error="showErrorI">
    </iron-ajax>

    <iron-ajax
      id="doModificar"
      url="http://localhost:3002/ModAsesores"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow_Headers: *"
      on-response="manageAJAXResponseM"
      on-error="showErrorM">
    </iron-ajax>

    <iron-ajax
      id="doEliminar"
      url="http://localhost:3002/DelAsesores"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow_Headers: *"
      on-response="manageAJAXResponseE"
      on-error="showErrorE">
    </iron-ajax>

    <iron-ajax
      id="doBuscar"
      url="http://localhost:3002/BuscarAsesores"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow_Headers: *"
      on-response="manageAJAXResponseB"
      on-error="showErrorB">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class GestorAsesores extends Polymer.Element {
      static get is() { return 'gestor-asesores'; }
      static get properties() {
        return {
          asesores: {
            type: Array,
            notify: true
          },
          asesor: {
            type: Array,
            notify: true
          },
          usuario: {
            type: String
          },
          nombre: {
            type: String
          },
          apellido: {
            type: String
          },
          apellidoM: {
            type: String
          },
          tel: {
            type: String
          },
          canal: {
            type: String
          },
          status: {
            type: String
          },
          l:{
            type: Boolean,
            value: false
          },
          n:{
            type: Boolean,
            value: false
          },
          m:{
            type: Boolean,
            value: false
          },
          e:{
            type: Boolean,
            value: false
          },
          a:{
            type: Boolean,
            value: false
          }
        }
      }

      obtenerAsesores(){
        this.$.doObtener.generateRequest();
        console.log('Peticion enviada');
        this.l = true;
        this.n = false;
        this.m = false;
        this.e = false;
      }

      insertarAsesores(){
        this.l = false;
        this.n = true;
        this.m = false;
        this.e = false;
        this.a = false;
        this.usuario = null;
        this.nombre = null;
        this.apellido = null;
        this.apellidoM = null;
        this.tel = null;
        this.canal = null;
        this.status = null;
        this.asesor = null;
      }

      insertarNuevo(){
        var nuevoData = {"idAsesor": this.usuario, "nombre":this.nombre, "apellido":this.apellido, "apellidoM":this.apellidoM, "tel":this.tel, "canal":this.canal, "status":this.status};
        //var nuevoData = {"idCliente": "UserPrueba"}
        this.$.doInsertar.body = JSON.stringify(nuevoData);
        this.$.doInsertar.generateRequest();
        console.log('Peticion enviada');
      }

      modificar(){
        this.l = false;
        this.n = false;
        this.m = true;
        this.e = false;
        this.a = false;
        this.usuario = null;
        this.nombre = null;
        this.apellido = null;
        this.apellidoM = null;
        this.tel = null;
        this.canal = null;
        this.status = null;
        this.asesor = null;
      }

      alerta(){
        this.a = true;
      }

      cancelar(){
        this.a = false;
      }

      modificarAsesores(){
        // alert('Esta seguro de modificar el registro?');

        if (this.nombre != null) {
          this.set('asesor.0.nombre', this.nombre);
        }
        if (this.apellido != null) {
          this.set('asesor.0.apellido', this.apellido);
        }
        if (this.apellidoM != null) {
          this.set('asesor.0.apellidoM', this.apellidoM);
        }
        if (this.tel != null) {
          this.set('asesor.0.tel', this.tel);
        }
        if (this.canal != null) {
          this.set('asesor.0.canal', this.canal);
        }
        if (this.status != null) {
          this.set('asesor.0.status', this.status);
        }
        var modData = {"idAsesor": this.usuario, "nombre":this.get('asesor.0.nombre'), "apellido":this.get('asesor.0.apellido'), "apellidoM":this.get('asesor.0.apellidoM'), "tel":this.get('asesor.0.tel'), "canal":this.get('asesor.0.canal'), "status":this.get('asesor.0.status')};
        this.$.doModificar.body = JSON.stringify(modData);
        this.$.doModificar.generateRequest();
        console.log('Peticion enviada');
        //console.log(modData);
      }

      buscar(){
        var busData = {"idAsesor": this.usuario};
        //var modData = {"idCliente": "UserPrueba"}
        this.$.doBuscar.body = JSON.stringify(busData);
        this.$.doBuscar.generateRequest();
        console.log('Peticion enviada');
      }

      eliminar(){
        this.l = false;
        this.n = false;
        this.m = false;
        this.e = true;
        this.a = false;
        this.usuario = null;
        this.nombre = null;
        this.apellido = null;
        this.apellidoM = null;
        this.tel = null;
        this.canal = null;
        this.status = null;
        this.asesor = null;
      }

      eliminarAsesores(){
        // alert('Esta seguro de eliminar el registro?');

        var eliData = {"id":this.get('asesor.0._id.$oid'), "idAsesor": this.usuario};
        //var eliData = {"idCliente": "UserPrueba"}
        this.$.doEliminar.body = JSON.stringify(eliData);
        this.$.doEliminar.generateRequest();
        console.log('Peticion enviada');
      }

      manageAJAXResponse(data){
        console.log('Respuesta recibida del servidor');
        //console.log(data.detail.response);
        //this.asesores = JSON.parse(request.responseText);
        this.asesores = (data.detail.response);
        console.table(this.asesores);
        //console.log(data);
        // this.logado = true;
        // this.ls0 =  true;
        // this.ls1 =  false;
        // this.ls2 =  false;
      }

      manageAJAXResponseI(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
        alert('Usuario registrado con exito !');
        this.usuario = null;
        this.nombre = null;
        this.apellido = null;
        this.apellidoM = null;
        this.tel = null;
        this.canal = null;
        this.status = null;
      }

      manageAJAXResponseM(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
        alert('Usuario modificado con exito !');
        this.usuario = null;
        this.nombre = null;
        this.apellido = null;
        this.apellidoM = null;
        this.tel = null;
        this.canal = null;
        this.status = null;
        this.asesor = null;
      }

      manageAJAXResponseE(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
        alert('Usuario eliminado con exito !');
        this.usuario = null;
        this.nombre = null;
        this.apellido = null;
        this.apellidoM = null;
        this.tel = null;
        this.canal = null;
        this.status = null;
        this.asesor = null;
      }

      manageAJAXResponseB(data){
        console.log('Respuesta recibida del servidor');
        this.asesor = (data.detail.response);
        console.table(this.asesor);
        // this.oid = asesor._id.$oid;
        // console.log(oid);
      }

      showError(error){
        console.log('Hubo un error');
        //console.log(`Hubo un error ${error}`);
        alert('No hay datos !');
        console.log(error);
      }

      showErrorI(error){
        console.log('Hubo un error');
        alert('Asesor existente, Registre otro asesor !');
        console.log(error);
      }

      showErrorM(error){
        console.log('Hubo un error');
        alert('Problemas al actualizar, intente nuevamente !');
        console.log(error);
      }

      showErrorE(error){
        console.log('Hubo un error');
        alert('Problemas al eliminar, intente nuevamente !');
        console.log(error);
      }

      showErrorB(error){
        console.log('Hubo un error');
        alert('No hay datos !');
        console.log(error);
      }

    }

    window.customElements.define(GestorAsesores.is, GestorAsesores);

    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })

    // $('#myModal').modal(options)

  </script>
</dom-module>
