<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--link rel="stylesheet" href="/src/css/main.css"-->

    <style>
      :host {
        font-family: sans-serif;
        display: block;
      }
    </style>

    <div class="container">

      <div class="card text-center mt-5 p-3 mb-2 bg-light" hidden$="{{ls0}}">
        <div class="card-body text-primary">
          <h1><span class="fa fa-lock"></span> Ingrese o Registrese</h1>
          <hr>
          <a on-click="logl" class="btn btn-light">
              <span class="fa fa-user"></span> Ingreso
          </a>
          <a on-click="sup" class="btn btn-light">
              <span class="fa fa-user"></span> Registro
          </a>
        </div>
      </div>

      <div class="col-sm-6 mx-auto" hidden$="{{!ls1}}">
        <div class="card mt-5">
          <div class="card-body p-3 mb-2 bg-light">
            <h1 class="text-center text-primary">
              <span class="fa fa-sign-in"></span> Ingreso
            </h1>
            <!--form action="login" method="POST"-->
              <div class="form-group p-3 mb-2">
                Email: <input required type="email" value="{{email::input}}" placeholder="ejemplo@bbva.com" class="form-control">
                Password: <input required type="password" value="{{password::input}}" class="form-control">
              </div>
              <button on-click="login" class="btn btn-success">Enviar</button>
            <!--/form-->
            <hr>
            <div class="text-center" >
              <p>Necesitas una cuenta? <a on-click="sup" class="btn btn-light text-info">Registro</a></p>
              <p>O ir <a on-click="home" class="btn btn-light text-info">Inicio</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 mx-auto" hidden$="{{!ls2}}">
        <div class="card mt-5">
          <div class="card-body p-3 mb-2 bg-light">
            <h1 class="text-center text-success">
              <span class="fa fa-sign-in"></span> Registro
            </h1>
            <!--form action="signup" method="POST"-->
            <div class="form-group p-3 mb-2">
              Email: <input required type="email" value="{{email::input}}" placeholder="ejemplo@bbva.com" class="form-control">
              Password: <input required type="password" value="{{password::input}}" class="form-control">
              Nombre de Usuario: <input required type="text" value="{{nombre::input}}" class="form-control">
            </div>
            <button on-click="signup" class="btn btn-success">Enviar</button>
            <!--/form-->
            <hr>
            <div class="text-center" >
              <p>Tienes una cuenta? <a on-click="logl" class="btn btn-light text-info">Ingreso</a></p>
              <p>O ir <a on-click="home" class="btn btn-light text-info">Inicio</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container-fluid" hidden$="{{!logado}}">

      <div class="card text-center mt-5">

        <div class="card-body bg-light text-dark">
          <!-- <img src="..." class="rounded float-left" alt="..."> -->
          <h2><span class='fa fa-home'></span>ANÁLISIS ESTRATEGICO {{nombre}}</h2>
        </div>

        <div class="col">
          <nav>
            <div class="nav nav-tabs text-white" id="nav-tab" role="tablist">
              <a class="nav-item btn nav-link" id="nav-gc-tab" data-toggle="tab" on-click="gc" role="tab" aria-controls="nav-gc" aria-selected="true">Gestor Asesores</a>
              <a class="nav-item btn nav-link" id="nav-gr-tab" data-toggle="tab" on-click="gr" role="tab" aria-controls="nav-gr" aria-selected="false">Gestor Asignación</a>
              <!-- <a class="nav-item btn nav-link" id="nav-tb-tab" data-toggle="tab" on-click="tb" role="tab" aria-controls="nav-tb" aria-selected="false">Graficas</a> -->
              <a class="nav-item btn nav-link text-white" id="nav-cs-tab" data-toggle="tab" href="/" role="tab" aria-controls="nav-cs" aria-selected="false">Cerrar Sesion</a>
            </div>
          </nav>

          <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-gc" role="tabpanel" aria-labelledby="nav-gc-tab" hidden$="{{!a}}">
              <gestor-asesores></gestor-asesores>
            </div>

            <div class="tab-pane fade show active" id="nav-gr" role="tabpanel" aria-labelledby="nav-gr-tab" hidden$="{{!b}}">
              <gestor-asignaciones></gestor-asignaciones>
            </div>

            <!-- <div class="tab-pane fade" role="tabpanel" aria-labelledby="nav-tb-tab" hidden$="{{!c}}"> -->
            <!-- <div class="row" hidden$="{{!c}}">
              <gestor-graficas></gestor-graficas>
            </div> -->

          </div>
        </div>

      </div>

    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3002/Login"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow_Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

    <iron-ajax
      id="doSignup"
      url="http://localhost:3002/Signup"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow_Headers: *"
      on-response="manageAJAXResponse1"
      on-error="showError1">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app';}
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          nombre: {
            type: String
          },
          logado:{
            type: Boolean,
            value: false
          },
          ls0:{
            type: Boolean,
            value: false
          },
          ls1:{
            type: Boolean,
            value: false
          },
          ls2:{
            type: Boolean,
            value: false
          },
          a:{
            type: Boolean,
            value: false
          },
          b:{
            type: Boolean,
            value: false
          },
          c:{
            type: Boolean,
            value: false
          }
        }
      }

      home(){
        this.ls0 =  false;
        this.ls1 =  false;
        this.ls2 =  false;
      }

      logl(){
        this.ls1 =  true;
        this.ls0 =  true;
        this.ls2 =  false;
      }

      sup(){
        this.ls2 =  true;
        this.ls0 =  true;
        this.ls1 =  false;
      }

      gc(){
        this.a = true;
        this.b = false;
        this.c = false;
      }

      gr(){
        this.a = false;
        this.b = true;
        this.c = false;
      }

      tb(){
        this.a = false;
        this.b = false;
        this.c = true;
      }

      login(){
        var loginData = {"email": this.email, "password":this.password};
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        //console.log(loginData);
        console.log('Peticion enviada');
      }

      signup(){
        var signupData = {"email": this.email, "password": this.password, "nombre": this.nombre};
        this.$.doSignup.body = JSON.stringify(signupData);
        this.$.doSignup.generateRequest();
        console.log('Peticion enviada');
      }

      manageAJAXResponse(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
        //console.log(data);
        this.logado = true;
        this.ls0 =  true;
        this.ls1 =  false;
        this.ls2 =  false;
      }

      manageAJAXResponse1(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
        alert('Usuario registrado con exito !');
        this.logado = true;
        this.ls0 =  true;
        this.ls1 =  false;
        this.ls2 =  false;
      }

      showError(error){
        console.log('Hubo un error');
        //console.log(`Hubo un error ${error}`);
        alert('Datos ingresado incorrectos, por favor verifique !');
        console.log(error);
      }

      showError1(error){
        console.log('Hubo un error');
        alert('Usuario existente. Elija la opción Ingreso o Registre otro usuario !');
        console.log(error);
      }

    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
